- expanded = expanded_by_default?

%section.settings.no-animate#js-protected-tags-settings{ class: ('expanded' if expanded), data: { qa_selector: 'protected_tag_settings_content' } }
  .settings-header
    %h4
      Protected tags
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded ? 'Collapse' : 'Expand'
    %p
      Limit access to creating and updating tags. #{link_to "What are protected tags?", help_page_path("user/project/protected_tags")}
  .settings-content
    %p
      By default, protected tags protect your code and:
      %ul
        %li Allow only users with Maintainer #{link_to "permissions", help_page_path("user/permissions")} to create tags.
        %li Prevent <strong>anyone</strong> from updating tags.
        %li Prevent <strong>anyone</strong> from deleting tags.

    - if can? current_user, :admin_project, @project
      = yield :create_protected_tag

    = yield :tag_list
